.menuloginbox{
    position: relative;
    margin-left: auto;
    margin-right:auto;
    width:1200px;
  }
  
  
  #topbutton{
    background-color: orangered;
    margin-top:50px;
    width:100px;
    border:none;
    opacity: 0.8;
  }
  @media screen and (max-width: 1000px) {
    
    #menuloginbox{
      font-size:8px;
    }
  }
  
  
  
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
  .menuloginbox {
      font-family: 'Open Sans', sans-serif;
  }
  .modal-fullscreen-menu {
      background-color: #ca790f;}

    .menulogo {
        color:white;
        font-family: 'Lobster', cursive;
        padding-left: 2.7rem;
        padding-bottom: 1rem;
    }
    .menulistone, .menulisttwo, .menulistthree, .menulistfour, .menulistfive{
        font-family: 'Open Sans', sans-serif;
        text-align:left;
        color:white;
        font-size: 25px;
        background-color: #ca790f;
        opacity:1;
        margin-top:30px;
    }
    

    

    .menu-footer {
      display: inline-flex;
      float: right;
    }
      .glyphicon-chevron-right {
          visibility: hidden;
          font-size: 10px;
          vertical-align: 2.5px;
          padding-right: 0.3rem
      }
    hr {
      
      border-top: 1px solid white;
      margin: 0.7rem;
    }
      .close {
          
          color: white;
          opacity: 1;
          padding: 3.5rem;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          font-size: 50px;
      }
      .modal-dialog {
          margin: 0 auto;
          max-width: 298px;
          display: flex;
          height: 100%;
          align-items: center;
      }
      .modal-content {
          background-color: transparent;
          box-shadow: none;
          border: none;
      }
      .list-group {
          text-align: left;
          margin: 0 auto;
          width: 100%;
        }
        

                  .glyphicon-chevron-right {
                      visibility: visible;
                  }
                  
                  
                  .glyphicon-chevron-right:before {
                      transform: translate3d(0, 0, 0);
                      opacity: 0.7;
                  }
              }
          }
      }
  }
  
  .modal-backdrop {
      &.in {
          opacity: 1;
      }
  }
  
  .skyline{
    position: relative;
      margin-top: -80px;
      text-align: center;
  }
  @media screen and (max-width: 1000px) {
    
    .skyline{
        
      margin-right:50px;
    }
  }
  
  
  
  
  
  
     
  
  
  .boomlogo{
      color:orangered;
      display:inline-block;
      padding-top:10px;
      width:1000px;
      height:50px;
      font-size:60px;
      font-family: 'Lobster', cursive;
      margin-left:auto;
      margin-right:auto;
  }
  @media screen and (max-width: 1000px) {
    
    .boomlogo{
      width: 550px;
      height:30px;
      font-size:30px;
    }
  }
  
  
  
  
  
  .hotissuelist{
      text-align: center;
      margin-top: 100px;
      margin-left:auto;
      margin-right:auto;
      width:1200px;
      height:650px;
  }
  @media screen and (max-width: 1000px) {
    .hotissuelist{
      width: 550px;
      height:1200px;
    }
  }
  .hotone{
      overflow: hidden;
      margin-top:5px;
      display:inline-block;
      border : 1px solid black;
      width:550px;
      height:300px;
  }
  .hottwo{
      overflow: hidden;
      margin-top:5px;
      display:inline-block;
      border:1px solid black; 
      width:550px;
      height:300px;
  }
  .hotthree{
      overflow: hidden;
      margin-top:5px;
      display:inline-block;
      position: relative;
      border:1px solid black;
      width:550px;
      height:300px;
  }
  .hotfour{
      overflow: hidden;
      margin-top:5px;
      display:inline-block;
      border:1px solid black;
      width:550px;
      height:300px;
  }
  
  
  
  
  
  .bestitem{
      text-align:center;
      margin-top:100px;
      margin-left:auto;
      margin-right:auto;
      width:1100px;
      height:400px;
      border-top:1px solid gray;
      border-bottom:1px solid gray;
  }
  .bestitempicturebox{
    display:inline-block;
    width:1080px;
    height:380px;
  }
  @media screen and (max-width: 1000px) {
    
    .bestitem, .bestitembox{
      width: 550px;
      height:300px;
    }
  }
  
  .usedit{
      text-align:center;
      margin-top:100px;
      margin-left:auto;
      margin-right:auto;
      width:1100px;
      height:400px;
      border-top:1px solid gray;
      border-bottom:1px solid gray;
  }
  @media screen and (max-width: 1000px) {
    
    .usedit{
      width: 550px;
      height:300px;
    }
  }
  
  .footer{
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    width:1100px;
    height:200px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
  }
  @media screen and (max-width: 1000px) {
    
    .footer{
      width: 550px;
      height:100px;
    }
  }