.body {

}
.name{
    color:rgb(21, 79, 97);
    text-align: center;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    height: 50px;
}
.virtuouscycle{
    
  font-weight:bolder;
  text-shadow: 0.3px gray ;
  border: 2px solid gray;
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: url("./virtuouscycle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cycle{

    border-style: solid;
    border-color: rgb(65, 138, 160);
    width:150px;
    height:150px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    opacity:0.9;
    margin-left:auto;
    margin-right: auto;
    margin-top:30px;
    transition: all ease 3s;
}
.cycle:hover{
    transform: rotatey(360deg);
}

.makeaprogram{
    text-align: center;
    border: 1px solid gray;
    width: 100%;
    height: 300px;
    margin-left:auto;
    margin-right: auto;
}
.makeprogram1{
  display:inline-block;
  width:30px;
  background-color: blue;
}
.invest{
    text-align: center;
    border: 1px solid gray;
    width: 100%;
    height: 300px;
    margin-left:auto;
    margin-right: auto;
}
